.menu-item{
	height: 70px;
}

.p20{
	padding: 0 20px;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 1px;
	color: #51555A; 
}

.p18{
	padding: 0 20px;
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 1px;
	color: #898D8D;
	text-align: left;
}

.p16{
	padding: 0 20px;
	font-size: 16px;
	line-height: 200%;
	letter-spacing: 1px;
	color: #51555A;	
}

section{
	width: 100%;
	padding: 100px 0;
}

.container-fluid{
	padding: 0px;
}

#menu-button{
	cursor: pointer;
	top: 5%;
	left: 5%;
	z-index: 999;
	font-size: 1.5rem;
}

#home{
	padding-bottom: 10px;
	text-align: center;
}

.title{
	font-size: 35px;
	text-align: center;
	font-weight: 700;	
	letter-spacing: 1.75px;
	padding-bottom: 50px;
}

/*index*/

.content{
	font-size: 18px;
	text-align: center;
	letter-spacing: 2.7px;
	line-height: 27px;
}

#info{
	background: #F7F8F8;
}

#feature{
	background: white;
	padding-bottom: 0px !important;
}

.feature-card{
	color: white;
}

.rhe-title{
	height: 50px;
	margin-bottom: 50px;
}

.rhe-subtitle{
	margin-bottom: 50px;
	height: 30px;
}

.rhe-btn{
		width: 80%;
		margin: 10%;
	}

.dst-card p{
	font-size: 12px;
	color: #51555a;
	text-align: left;
	line-height: 180%;
	letter-spacing: 1px;
	margin-top: 20px;
	height: 180px;
}

@media (max-width: 768px) {
	.feature-card{
		margin-bottom: 25px;
	}

	section{
		width: 100%;
		padding: 50px 0;
	}

	.rhe-title{
		height: 30px;
		margin-bottom: 30px;
	}

	.rhe-subtitle{
		margin-bottom: 20px;
		height: 20px;
	}

	#girlslide .modal-dialog{
		width: 700px;
	}
	#boyslide .modal-dialog{
		width: 700px;
	}
	.menu-item{
		height: 30px;
	}
	.p20{
		font-size: 16px;
	}
	.p18{
		font-size: 14px;
	}
	.p16{
		font-size: 12px;
	}
	#end{
		font-size: 12px;
	}
	.rhe-btn{
		width: 60%;
		margin: 5% 20%;
	}

	.dst-card p{
		height: inherit;
	}
}

#go{
	text-align: center;
	height: 200px;
	background: white;
	padding-top: 80px
}

#go a:hover{
	text-decoration: none;
}

#gobutton{
	cursor: pointer;
	background: #26BEC9;
	font-size: 24px;
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
}
/*recruit*/

/*graduation*/

/*lab*/

/*left menu*/

#logo img{
	width: 100%;
}

.flip {
  -webkit-perspective: 800;
 	height: 225px;
  position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  cursor: pointer;
}

#menu-list {
	padding: 0px;
}

#menu-list li{
	list-style: none;
	color: white;
	height: 40px;
	padding: 5px 20px 0px;
	font-size: 1.5rem;
	cursor: pointer;
}

#menu-list li:hover{
	background: #26BEC9;
}

#slogan {
	position: fixed;
	bottom: 0px;
}

#slogan img{
	width: 100%;
}